
body {
  background-image: linear-gradient(0deg,rgba(0,0,0,0.3),
    rgba(255,255,255,0.3)),
  url("Pics/yoseHill.png");
  color:black;
  font-family:"Tunga";
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Impact";
  font-size: 32px;
  text-align: center;
}

h2 {
  font-family: "Tunga";
  font-size: 20px;
  text-align:center;
  margin-left: 0%;
}

.bold {
  font-family:"Tunga";
  font-size:18px;
  color:black;
}

.subhead {
  font-family:"Tunga";
  font-size:16px;
  color:#747272; 

}

.git {
  float:right;
  margin-right:150px;
  margin-top:12px;
  font-size: 20px;
}

.topnav {
  background-color: #171717;
  overflow: hidden;
  position: fixed;
  width: 115%;
  top: 0;
  margin: 0px;
  z-index: 3;
  padding-left:8px;
  overflow: visible;
  margin-left:-6%;
}

.topnav a {
  float: left;
  color: #171717;
  padding: 14px 16px;

}

/* Dropdown Button */
.dpbtn {
  background-color: #171717;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dpdown {
  position: relative;
  display: inline-block;
  z-index: 4;
  border-radius: 8px;
  margin-bottom:5px;
}

.dpbtn:active {
  background-color: #171717 !important;
  border-color:#171717 !important;
}

.dpbtn:focus{
  background-color: #171717 !important;
  border-color:#171717 !important;
}

/* Dropdown Content (Hidden by Default) */
.dpdown-content {
  display: none;
  position: absolute;
  background-color: ivory;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:white;
  width:375%;
}

/* Links inside the dropdown */
.dpdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 4;
  width:375%;
}

/* Change color of dropdown links on hover */
.dpdown-content a:hover {
  background-color: #171717;
  width:100%;
  color:white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.head1 { 
  background-color:rgba(255,250,240,.7);
  border-radius: 5px; 
  padding: 5px;
}
/*.head1 { 
	background-color:mistyrose;
	border-radius: 3px; 
	padding: 5px;
}*/

.head2 { 
	background-color: floralwhite; 
	border-radius: 1px; 
	padding: 5px;
}

.head3 { 
  background-color: whitesmoke; 
  border-radius: 1px; 
  padding: 5px;
}

a.email {
  color:black;
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}

ul li:before {    
    font-family: "Font Awesome 5 Free";
    content: '\f111';
    font-size: 8px;
    margin:5px 6px;
    vertical-align: middle;
    color:black;
}

